{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="lead">Choose Date</h3>
            <div id="rounded">
            <table id="category-table" class="table" style="table-layout: fixed">
                    <tr>
                        <td>                            
                            <select id="game_date" onchange="location = this.value;">
                                
                                {%- for game in all_games %}
                                    <option 
                                        {% if curr_date == game.game_date%} selected {%endif%}
                                        value = "{{ url_for('list_all', game_date=game.game_date) }}" >
                                        {{ icon('calendar') }} {{game.game_date}}
                                    </option>
                                {%- endfor %}
                
                            </select>
                        </td>

                    </tr>
            </table>
        </div>
        </div>
        <div class="col-md-9">
            {% if games|count > 0 %}
            <h3 class="lead">Games for {{ date }}</h3>
            <table id="game-table" class="table">
               <tr>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                </tr>
                {%- for game in games %}
                    <tr>
                        <td>{{ game.game_date }}</td>

                        <!-- TODO: MAKE THIS NOT HAVE TO DO A LINEAR SEARCH EVERY TIME -->
                        {%- for team in teams %}
                            {% if game.home_team_id ==  team.team_id %}
                            <td>{{ team.name }} <img src="http://i.cdn.turner.com/nba/nba/assets/logos/teams/secondary/web/{{ team.abbreviation }}.svg" height="50" alt=""></td>
                            {%- endif %} 
                        {%- endfor %}

                        {%- for team in teams %}
                            {% if game.visitor_team_id ==  team.team_id %}
                            <td>{{ team.name }} <img src="http://i.cdn.turner.com/nba/nba/assets/logos/teams/secondary/web/{{ team.abbreviation }}.svg" height="50" alt=""></td>
                            {%- endif %} 
                        {%- endfor %}
                        
                        <td>
                            <a class="btn btn-xs btn-default" style="height:3.6em; padding: 1em; margin-top: 0.28em;" href="{{ url_for('view_game', game_id=game.game_id) }}" >{{ icon('asterisk') }} View Game</a>
                        
                        {# <!-- above was: <a class="btn btn-xs btn-default"  href="{{ url_for('update_game', game_id=game.id) }}" >{{ icon('edit') }} View</a> --> #}
                        </td>
                    </tr>
                {%- endfor %}
            </table>
            {% else %}
            <h3 class=lead>No Games Yet</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
